html, body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif; }

.mt-28 {
  margin-top: 28px; }

nav.navbar {
  min-height: 200px;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  background-color: rgba(255, 255, 255, 0.9); }

nav.navbar.shrink {
  min-height: 50px; }

#svg2 {
  width: 130px;
  height: auto; }

.nav-collapse {
  font-size: 18px; }

.nav-collapse.collapsing li,
.nav-collapse.show li {
  border-bottom: 1px solid #DDD; }

.nav-collapse.collapsing ~ .brand-divider,
.nav-collapse.show ~ .brand-divider {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.nav-collapse.collapsing.left-menu,
.nav-collapse.show.left-menu {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  text-align: center; }

.nav-collapse.collapsing.right-menu,
.nav-collapse.show.right-menu {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  text-align: center; }

.nav-link {
  position: relative;
  color: #444 !important; }
  .nav-link:before {
    content: '';
    position: absolute;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #444;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0); }
  .nav-link:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }

#hotel-main {
  min-height: 600px;
  max-height: 900px;
  background: url("../img/building.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.description {
  background-color: rgba(255, 255, 255, 0.9); }
  .description p {
    font-size: 14px;
    color: #222; }

#service {
  background-color: #f4f3f1;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
  #service p {
    font-size: 14px; }

.space-letters {
  letter-spacing: 2px; }

.outer-rooms {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear; }
  .outer-rooms:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .outer-rooms img {
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear; }
  .outer-rooms:hover img {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }
  .outer-rooms:hover img.img-rotated {
    -webkit-transform: scale(1.02) rotate(180deg);
    -ms-transform: scale(1.02) rotate(180deg);
    transform: scale(1.02) rotate(180deg); }

.room-container {
  overflow: hidden; }

.img-rotated {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.room-description {
  font-size: 13px;
  color: #444; }

.room-description.pt-xl-10 {
  margin-top: 60px; }

.btn {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important; }

.btn-book {
  height: 70px;
  margin-top: auto !important;
  background-color: #f4f3f1;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }
  .btn-book:hover {
    background-color: rgba(186, 186, 186, 0.4); }

#about {
  background-color: #f4f3f1;
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); }
  #about > .container-fluid > h5 {
    border-bottom: 3px solid #FFF;
    margin-bottom: -3px;
    line-height: 17px;
    width: 50%; }

.timeline {
  position: relative;
  z-index: 2; }
  .timeline .row {
    padding-top: 30px; }
  .timeline .row:first-of-type {
    padding-top: 0; }
  .timeline:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 50%;
    top: 0;
    left: 2px;
    border-right: 4px solid #FFF;
    z-index: -1; }

.timeline-container:nth-child(odd) > div {
  margin-right: auto; }

.timeline-container:nth-child(even) > div {
  margin-left: auto; }

.timeline-container:nth-child(odd) > div > div {
  margin-left: auto; }

.timeline-container:nth-child(even) > div > div {
  margin-right: auto; }

.timeline-container > div > div {
  padding: 25px;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.timeline-container:nth-child(odd) {
  text-align: right; }

.timeline-container:nth-child(odd) .calendar-day {
  right: -115px; }

.timeline-container:nth-child(even) .calendar-day {
  left: -115px; }

.calendar-day {
  position: absolute;
  background-color: #fff;
  width: 120px;
  top: 20px;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.timeline h5 {
  font-size: 16px; }

.timeline p {
  font-size: 13px;
  color: #444;
  margin-bottom: 0; }

.contact-data {
  font-size: 16px;
  text-align: right; }
  .contact-data p {
    margin: 0;
    padding: 0; }
  .contact-data a {
    text-decoration: none;
    color: #FFF; }

.info-copy {
  font-size: 18px; }

@media (max-width: 991px) {
  .contact-data {
    font-size: 14px; }
  .info-copy {
    font-size: 16px; }
  .room-container {
    height: 250px; }
    .room-container img {
      position: absolute;
      top: -120px; }
  .timeline-container {
    padding: 15px; }
    .timeline-container:nth-child(even) .calendar-day {
      left: -105px; }
    .timeline-container:nth-child(odd) .calendar-day {
      right: -105px; }
  .timeline h5 {
    font-size: 15px; }
  .timeline p {
    font-size: 12px; }
  .calendar-day {
    font-size: 14px;
    padding: 3px;
    width: 110px; }
  .contact-data {
    text-align: center;
    padding-top: 30px; }
  .info-data,
  .info-copy {
    margin-top: 20px; }
  .map {
    margin-bottom: 10px; } }

@media (max-width: 767px) {
  nav.navbar {
    min-height: 50px; }
  .navbar-brand {
    height: 50px;
    padding: 0;
    padding-left: 50px; }
  .nav-collapse:first-child {
    margin-top: 20px; }
  #svg2 {
    width: 100px; }
  .nav-collapse li {
    border-bottom: 1px solid #DDD; }
  .brand-divider {
    width: 100%; }
  .room-container {
    height: -webkit-calc(300 * 100vw / 767);
    height: calc(300 * 100vw / 767); }
    .room-container img {
      top: -webkit-calc(-40 * 100vw / 767);
      top: calc(-40 * 100vw / 767); }
  #about > .container-fluid > h5 {
    width: 80%; } }

@media (max-width: 575px) {
  .timeline-container {
    margin-top: 40px; }
    .timeline-container > div > div {
      text-align: center; }
    .timeline-container:first-child {
      margin-top: 100px; }
    .timeline-container:last-child {
      padding-bottom: 0; }
    .timeline-container:nth-child(odd) .calendar-day,
    .timeline-container:nth-child(even) .calendar-day {
      right: 0;
      left: -webkit-calc(50% - 55px);
      left: calc(50% - 55px);
      top: -40px; } }
